html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 0px;
  align-items: center;
  background: aliceblue;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 5px 10px rgba(189, 209, 218, 0.308);
}

.controls-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 0px;
  align-items: center;
  background: aliceblue;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 5px 10px rgba(189, 209, 218, 0.308);
}

.search-filter-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
  border: solid aliceblue;
  padding: 10px;
}

.library-items-table {
  background-color: aliceblue;
  margin-bottom: 0px !important;
  box-shadow: 5px 10px rgba(189, 209, 218, 0.308);
}

.library-items-table tr {
  text-align: center;
  vertical-align: middle;
}

.library-items-table-item:hover {
  background-color: #399cf3;
}

.hover-active {
  background-color: #399cf3;
}

.library-items-table .library-item-title {
  width: 80%;
  max-width: 35%;
  text-align: left;
  vertical-align: middle;
}

.library-items-table .library-item-length {
  width: auto;
}

.webapp-active {
  background-color: #ff6a00 !important;
}

input[type="submit"] {
  margin-top: 5px;
}

#Borrower2.invalidInputContent {
  border-color: #900 !important;
  background-color: #fdd !important;
  box-shadow: 0 0 5px 1px red !important;
}

#BorrowDate2.invalidInputContent {
  border-color: #900 !important;
  background-color: #fdd !important;
  box-shadow: 0 0 5px 1px red !important;
}

input.invalid {
  border-color: #900;
  background-color: #fdd;
  box-shadow: 0 0 5px 1px red;
}

input:focus.invalid {
  outline: none;
}

/* Style the tab */
.tabpane {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab-button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab-button:hover {
  background-color: #4cff00;
}

/* Create an active/current tablink class */
.tab-button.active {
  background-color: #ff6a00;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.page-btn {
  margin-left: 1px;
  margin-right: 1px;
}
